html{
    box-sizing: border-box;
    
}

*,
*::before,
*::after{
    box-sizing: inherit;
    
}

body{
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
}

/*Inicio*/

#inicio{
    width: 100%;
    height: 100vh;
    
}

#inicio img{
    width: 100%;
    height: 100%;
    object-fit:cover; 
}

nav{
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul{
        position: absolute;
        top: 8%;
        margin: 0;
        padding: 0;
        width: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        color: white;
        font-family: 'Tinos', serif;
        font-weight: lighter;
        
        
}

#title{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5em;
    font-weight: normal;

}

nav ul li{
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease-in-out;
}

nav ul li:hover:not(#title){
    border-bottom: 2px solid white;
}


/*bg menu*/

#btn, .panel, .menu{
    display: none;
}

@media screen and (max-width:800px){

    nav ul li:not(#title){
        display: none;
    }

    #btn, .panel, .menu{
        display: block;
    }

    #btn{
        position: fixed;
        z-index: 5;
        bottom: 0;
        right: 0;
        margin: 8px;
        background-color: rgba(0, 0, 0, 0.504);
        border-radius: 50%;
        backdrop-filter: blur(10px);
    }

    #btn.is-active{
        background-color: rgba(240, 248, 255, 0.505);
    }

    .panel{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.727);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease;
        transform: translate(0, -100%);
    }

    .panel.is-active{transform: translate(0,0);}

    .menu{
        padding-top: 5rem;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .menu a{
        text-decoration: none;
        color: white;
        font-family: 'Tinos', serif;
        font-size: 25px;
        padding: 3rem;
    }
}

/*galeria*/

.container{
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: grid;
    grid-template-columns:  repeat(3, minmax(200px, 1fr));
    grid-template-rows:  repeat(5, minmax(250px, 350px));
    gap: 25px;
}

.title-gal{
    text-align: center;
    position: relative;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 23px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.title-gal::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 5%;
    height: 2px;
    background-color: #000;
}

.item-1{
    grid-row: 1/2;
    grid-column: 1/3;
    overflow: hidden;
}

.item-2{
    grid-row: 1/2;
    grid-column: 3/4;
    overflow: hidden;
}

.item-3{
    grid-row: 2/4;
    grid-column: 1/2;
    overflow: hidden;
}

.item-4{
    grid-row: 2/4;
    grid-column: 2/4;
    overflow: hidden;
}

.item-5{
    grid-row: 4/6; 
    overflow: hidden;
}

.item-6{
    grid-row: 4/6;
    overflow: hidden;
}

.item-7{
    grid-row: 4/6;
    overflow: hidden;
}



.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    
}

.container img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#btnV{
    padding: 13px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    grid-column: 2/3;
    width: 30%;
    justify-self: center;
    font-family: 'DM Serif Display', serif;
}

#btnV:hover{
    background-color: rgba(0, 0, 0, 0.833);
    font-weight: 800;
}

.title-sobre{
    margin: 20px auto;
    width: 20%;
    font-size: 40px;
    font-family: 'DM Serif Display', serif;
    position: relative;
    display: flex;
    justify-content: center;
}

.title-sobre::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 2px;
    background-color: #000;
}

/*Sobre mí*/

.sobre-mi{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.sobre-mi img{
    width: 50%;
    margin: 35px;
    object-fit: cover;
}

.sobre-mi p{
    width: 50%;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    align-self: center;
    padding: 20px;
    text-align: justify;
}

/*Footer*/

footer{
    background-color: #000;
}

.redes{
    
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
}

.redes::before{
content: "";
position: absolute;
left: 0%;
top: 50%;
border-bottom: 2px solid white;
width: 40%;
}

.redes::after{
    content: "";
    position: absolute;
    right: 0%;
    top: 50%;
    border-bottom: 2px solid white;
    width: 40%;
    }

.redes i{
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
}

.contacto{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: 'DM Serif Display', serif;
}

.contacto p{
    margin: 0 15px;
}

.contacto p:last-child{
    text-decoration: underline;
}

.right{
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right span{
    margin-top: 20px;
    text-decoration: underline;
}